* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    margin-bottom: 10px;
}

.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.tarjeta {
    width: 280px;
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(102, 109, 102, 0.795);
}

.tarjeta h2 {
    margin-bottom: 15px;
}

.tarjeta p {
    margin-bottom: 20px;
}

.boton {
    display: inline-block;
    text-decoration: none;
    background-color: #1b36ce;
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.boton:hover {
    background-color: #508ce0;
}